# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build and test

on:
  pull_request:
    branches: [ master, main, '1.7.10' ]
  push:
    branches: [ master, main, '1.7.10' ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout mod repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: 'recursive'
    - name: Checkout workflows repo
      uses: actions/checkout@v3
      with:
        repository: GTNewHorizons/GTNH-Actions-Workflows
        path: .gtnh-workflows
        fetch-depth: 0

    - name: Set up JDK 8
      run: sudo apt-get update && sudo apt-get install openjdk-8-jdk-headless && sudo update-java-alternatives -s java-1.8.0-openjdk-amd64

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build thermos
      run: JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64 ./gradlew setupCauldron jar packageBundle --info

    - name: Upload thermos artifacts
      uses: actions/upload-artifact@v3
      with:
        name: thermos-server
        path: build/distributions/*

    - name: Tar failed build
      if: ${{ failure() }}
      run: tar -cvf failed_build.tar ./*

    - name: Upload failed build
      uses: actions/upload-artifact@v3
      if: ${{ failure() }}
      with:
        name: failed-build
        path: failed_build.tar

    - name: Prepare libraries for launch
      run: cp -av libraries/ build/distributions/libraries

    - name: Run server for 1.5 minutes
      run: |
        mkdir run
        cd run
        echo "eula=true" > eula.txt
        timeout 90 /usr/lib/jvm/java-8-openjdk-amd64/bin/java -Xmx1G -server -jar ../build/distributions/Thermos-*-server.jar 2>&1 | tee -a ../server.log || true

    - name: Test no errors reported during server run
      run: |
        chmod +x .gtnh-workflows/scripts/test_no_error_reports
        .gtnh-workflows/scripts/test_no_error_reports
